body{
    background: linear-gradient( #000000,#00091d,#1a145e,#261a6c,#571b75);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.secti{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: none;
}


.spanstart{
    position: absolute;
    top:50%;
    left:50%;
    width: 0.5vh;
    height: 0.5vh;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 0 0.6vh rgba(255,255,255,0.1),0 0 0 0.4vh rgba(255,255,255,0.1),0 0 0.8vh rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
    
}
.spanstart::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transform: translateX(-100%);
    width: 16vw;
    height: 1px;
    background: linear-gradient(-60deg,#fff,transparent);
    
}
@keyframes animate
{
    0%
    {
        transform: rotate(60deg) translateX(0vh);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(60deg) translateX(100vh);
        opacity: 0;
    }
}
.spanstart:nth-child(1){
    top: -20px;
    right: 30vw;
    left: initial;
    animation-delay: 0s;
    animation-duration: 5s;
}
.spanstart:nth-child(2){
    top: -20px;
    right: 110vw;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.spanstart:nth-child(3){
    top: -20px;
    right: 89vw;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.spanstart:nth-child(4){
    top: -20px;
    right: 5vw;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.spanstart:nth-child(5){
    top: -20px;
    right: 20vw;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.spanstart:nth-child(6){
    top: -20px;
    right: 60vw;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.spanstart:nth-child(7){
    top: -20px;
    right: 65vw;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.spanstart:nth-child(8){
    top: -20px;
    right: 39vw;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.spanstart:nth-child(9){
    top: -20px;
    right: 75vw;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.spanstart:nth-child(10){
    top: -20px;
    right: 28vw;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}


.secti2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: animateBg 50s linear infinite;  
    overflow: hidden;
    z-index: -10;
}
.stars0,.stars1,.stars2{
    position: absolute;
    top:0   ;
    left:initial;
    width: 0.4vh;
    height: 0.4vh;
    background: #fff;   
    animation: 5s linear infinite running animStar;
    z-index: -10;
}
.planet{
    position: absolute;
    top: 120vh   ;
    right: -18vw;
    width: 35vw;
    height: 35vw;
    background-repeat: no-repeat; 
    z-index: -10;
    background-image: url('/2618197944.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    opacity: 15%;
    rotate: 0deg;
}
.galaxy{
    position: absolute;
    top:-16vw;
    left: -16vw;
    width: 50vw;
    height:  50vw;
    background-repeat: no-repeat; 
    z-index: -20;
    background-image: url('2040072113(1).png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    opacity: 35%;
    rotate: 90deg;
}
.stars0{
    box-shadow: 0 0 0 0.6vh rgba(255,255,255,0.1),0 0 0 0.4vh rgba(255,255,255,0.1),0 0 1.2vh rgba(255,255,255,0.1);
    animation-duration: 150s;
    scale: 1;
}
.stars1{
    box-shadow: 0 0 0 0.4vh rgba(255,255,255,0.1),0 0 0 0.2vh rgba(255,255,255,0.1),0 0 1.2vh rgba(255,255,255,0.1); 
    animation-duration: 300s;
    scale: 0.8;
    opacity: 0.2;
}
.stars2 {
    box-shadow: 0 0 0 0.5vh rgba(255,255,255,0.1),0 0 0 0.3vh rgba(255,255,255,0.1),0 0 1.2vh rgba(255,255,255,0.1); 
    animation-duration: 200s;
    scale: 0.9;
    opacity: 0.9;
}

@keyframes animStar


{
    0%{
        transform:  translateY(0vh);
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
        transform:  translateY(400vh);
        opacity: 0;
    }
}
.title1{
    color: #FCEC3C;
    text-shadow: 2px 1px #E47316;
}
.shadow{
    content: '';
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25)
}
.titlet{
    perspective: calc(min(14.4vw, 16vh)* .75);
    -webkit-perspective: calc(min(14.4vw, 16vh)* .75);
}
.title{
    transform-origin: 100% 100%;
    text-decoration: none;
    display: block;
    transform: rotateX(5deg);
    line-height :108px;
    font-size:154px;
    color: transparent;
    background: linear-gradient(90deg, #0062a3,#722399,#992329);
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation:  5s linear infinite running animatetitle;
}

@keyframes animatetitle {
    0% {
        background-position: 0% ;
    }
    50%{
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
/*0 0 0 0.6vh rgba(255,255,255,0.1),0 0 0 0.4vh rgba(255,255,255,0.1),0 0 0.8vh rgba(255,255,255,0.1);*/
.nav{
    color: #fff;
    font-size:  27px;
}
.iconCalendar{
    color: #fff;
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1); 
}
.fecha{
    font-style: italic;

}

.tree{
    position: absolute;
    background-image: url('tree.png');
    bottom: 0;
    width: 50vw;
    height: 50vw;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    right: 0;
        box-shadow: 0 0 0 0.6vh rgba(255,255,255,0.1),0 0 0 0.4vh rgba(255,255,255,0.1),0 0 0.8vh rgba(255,255,255,0.1);
  
}

.toprshadow::after{
    content:'';
    position: absolute;
    top: -12px;
    left: 0;
    width: calc(100% + 12px);
    height: 13px;
    background: #6E7D80;
    clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 0 100%);
    z-index: -10;
}
.topshadow::before{
    content:'';
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 13px;
    background: #6E7D80;
    z-index: -10;
}
.righthadow::before{
    content:'';
    position: absolute;
    right: -12px;
    top: -12px;
    width: 12px;
    height: calc(100% + 12px);
    background: #2C3634;
    clip-path: polygon(100% 0, 100% calc(100% - 12px), 0 100%, -2px 100%, -2px 13px);
    z-index: -11;
}
.toplshadow::before{
    content:'';
    position: absolute;
    top: -12px;
    left: -12px ;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    background: #6E7D80;
    clip-path: polygon(
        0 0, 
        calc(100% ) 0, 
        100% 12px, 
        12px 100%,
        0 calc(100% - 12px)
        );
    z-index: -10;
}

.rightbhadow::before{
    content:'';
    position: absolute;
    right: -12px;
    top: -12px;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    background: #2C3634;
    clip-path: polygon(
        12px calc(100% - 12px), 
        calc(100% - 12px) 12px,
        100% 0,     
        100% 100%, 
        0 100% 
        );
    z-index: -10;
}

.tlshadow::after{
    content:'';
    position: absolute;
    right: -12px;
    top: -12px;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    background: #6E7D80;
    clip-path: polygon(
        0 100%, 
        12px calc(100% - 12px),
        calc(100% - 12px) 12px,
        100% 0,     
        390px  0,
        378px 12px,
        12px 12px,
        0 0, 
        0 100% 
        );
    z-index: -10;
}
.shadowEXP::after{
    content:'';
    position: absolute;
    right: -8px;
    top: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background:  #6E7D80;
    clip-path: polygon(
        0 100%, 
        4px  calc(100% - 4px),
        4px 4.5px,
        calc(100% - 4px) 4.5px,
        100% 0,  
        0 0 
        );
    z-index: 1;
}
.shadowEXP::before{
    content:'';
    position: absolute;
    right: -8px;
    top: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background: #2C3634;
    clip-path: polygon(
        100% 100%,
        0 100%,
        4px  calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) 4px,
        100% 0
    );
    z-index: 1;
}
.flecha::before{
    content:'';
    position: absolute;
    left: -4px;
    top: -4px;
    min-width: calc(100% + 20px);
    min-height: calc(100% + 8px);
    background: #bee3e5;
    clip-path: polygon(
        0 0, 
        80%  0, 
        100% 25%,
        100% 75%,
        80% 100%,
        0 100%,
        0 0,
        4px 4px,
        4px calc(100% - 4px),
        calc(80% - 4px) calc(100% - 4px),
        calc(100% - 4px) calc(75% - 4px),
        calc(100% - 4px)  calc(25% + 4px),
        calc(80% - 4px)   4px,
        4px 4px
    );
    z-index: 2;
}
.flecha::after{
    content:'';
    position: absolute;
    left: -4px;
    top: -4px;
    min-width: calc(100% + 20px + 12px);
    min-height: calc(100% + 8px);
    background: #bee3e5;
    clip-path: polygon(
        calc(100% - 8px) 25%,
        calc(100% - 4px) 25%,
        calc(100% - 4px) 75%,
        calc(100% - 8px) 75%
        
    );
    z-index: 2;
}
.flecha{
    
}
.punta::before{
    content:'';
    position: absolute;
    left: -4px;
    top: -4px;
    min-width: calc(100% + 20px + 12px + 12px);
    min-height: calc(100% + 8px);
    background: #bee3e5;
    clip-path: polygon(
        calc(100% - 12px) 25%,
        100% 50%,
        calc(100% - 12px) 75%
        
    );
    z-index: 3;
}

.punta::after{
    content:'';
    position: absolute;
    left: -4px;
    top: -4px;
    min-width: calc(100% + 20px + 12px);
    min-height: calc(100% + 8px);
    background: #3E5155;
    clip-path: polygon(
        calc(100% - 12px) calc(25% - 8px) ,
        100% calc(25% - 8px),
        100% calc(75% + 8px),
        calc(100% - 12px) calc(75% + 8px)  
    );
    z-index: 1;
}
.shadowOnEXP::after{
    content:'';
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 20px + 12px + 20px);
    height: calc(100% + 16px);
    background:  #2C3634;
    clip-path: polygon(
        0 100%, 
        4px  calc(100% - 4px),
        4px 4.5px,
        calc(80% - 24px) 4.5px,
        calc(100% - 30px) calc(25% + 1px),
        calc(100% - 16px) calc(25% + 1px),
        calc(100% - 4px) 50%,
        100% 50%,
        calc(100% - 15px) calc(25% - 3px),
        calc(100% - 27px) calc(25% - 3px),
        calc(80% - 20px) 0,  
        0 0     
        );
    z-index: 1;
}
.shadowOnEXP::before{
    content:'';
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 20px + 12px + 20px);
    height: calc(100% + 16px);
    background:  #6E7D80;
    clip-path: polygon(
        0 100%, 
        4px  calc(100% - 4px),
        calc(80% - 24px) calc(100% - 4px),
        calc(100% - 30px) calc(75% - 2px),
        calc(100% - 16px) calc(75% - 2px),
        calc(100% - 4px) 50%,
        100% 50%,
        calc(100% - 14px) calc(75% + 2px),
        calc(100% - 27px) calc(75% + 2px),
        calc(80% - 20px) 100%
        );
    z-index: 2;
}
/*0 0, 
        50%  0, 
        62.5% 25%,
        87.5% 25%,
        100% 50%,
        87.5% 75%,
        62.5% 75%,
        50% 100%,
        0 100%
        
        4px 4.5px,
        calc(80% - 24px) 4.5px,
        calc(100% - 30px) calc(25% + 1px),
        calc(100% - 16px) calc(25% + 1px),
        calc(100% - 4px) 50%,
        100% 50%,
        calc(100% - 15px) calc(25% - 3px),
        calc(100% - 27px) calc(25% - 3px),
        calc(80% - 20px) 0,  
        0 0     
        */