body{
    background: linear-gradient( #000000,#00091d,#1a145e,#261a6c,#571b75);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.secti{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: none;
}


.spanstart{
    position: absolute;
    top:50%;
    left:50%;
    width: 0.5vh;
    height: 0.5vh;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 0 0.6vh rgba(255,255,255,0.1),0 0 0 0.4vh rgba(255,255,255,0.1),0 0 0.8vh rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
    
}
.spanstart::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    transform: translateX(-100%);
    width: 16vw;
    height: 1px;
    background: linear-gradient(-60deg,#fff,transparent);
    
}
@keyframes animate
{
    0%
    {
        transform: rotate(60deg) translateX(0vh);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(60deg) translateX(100vh);
        opacity: 0;
    }
}
.spanstart:nth-child(1){
    top: -20px;
    right: 30vw;
    left: initial;
    animation-delay: 0s;
    animation-duration: 5s;
}
.spanstart:nth-child(2){
    top: -20px;
    right: 110vw;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.spanstart:nth-child(3){
    top: -20px;
    right: 89vw;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.spanstart:nth-child(4){
    top: -20px;
    right: 5vw;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.spanstart:nth-child(5){
    top: -20px;
    right: 20vw;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.spanstart:nth-child(6){
    top: -20px;
    right: 60vw;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.spanstart:nth-child(7){
    top: -20px;
    right: 65vw;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.spanstart:nth-child(8){
    top: -20px;
    right: 39vw;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.spanstart:nth-child(9){
    top: -20px;
    right: 75vw;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.spanstart:nth-child(10){
    top: -20px;
    right: 28vw;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}


.secti2{
    position: absolute;
    width: 100%;
    height: 200%;
    background-size: cover;
    animation: animateBg 50s linear infinite;  
    overflow: hidden;
    z-index: -10;
}
.stars0,.stars1,.stars2{
    position: absolute;
    top:0   ;
    left:initial;
    width: 4px;
    height: 4px;
    background: #fff;   
    animation: 5s linear infinite running animStar;
    z-index: -10;
}
.stars0{
    box-shadow: 0 0 0 6px rgba(255,255,255,0.1),0 0 0 4px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation-duration: 150s;
    scale: 1;
}
.stars1{
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 2px rgba(255,255,255,0.1),0 0 1px rgba(255,255,255,0.1); 
    animation-duration: 300s;
    scale: 0.8;
    opacity: 0.2;
}
.stars2 {
    box-shadow: 0 0 0 5px rgba(255,255,255,0.1),0 0 0 3px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1); 
    animation-duration: 200s;
    scale: 0.9;
    opacity: 0.9;
}

@keyframes animStar


{
    0%{
        transform:  translateY(0vh);
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
        transform:  translateY(200vh);
        opacity: 0;
    }
}
.title1{
    color: #FCEC3C;
    text-shadow: 2px 1px #E47316;
}
.shadow{
    color: #00a8e8;
    text-shadow: 2px 1px #33415c;
}

.title{
    color: transparent;
    background: linear-gradient(90deg, #0062a3,#722399,#992329);
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation:  5s linear infinite running animatetitle;
}
@keyframes animatetitle {
    0% {
        background-position: 0% ;
    }
    50%{
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
/*0 0 0 0.6vh rgba(255,255,255,0.1),0 0 0 0.4vh rgba(255,255,255,0.1),0 0 0.8vh rgba(255,255,255,0.1);*/
.nav{
    color: #fff;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.25);
    
}
.iconCalendar{
    color: #fff;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),0 0 0 16px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1); 
}