---
import Layout from "../layouts/Layout.astro";
import {Experience} from "../components/Experience.jsx"
import SectionContainer from "../components/SectionContainer.astro";
import ExperiencieIcon from "../icons/ExperiencieIcon.astro";
import ProyecIcon from "../icons/ProyecIcon.astro";
import Proyects from "../components/Proyects.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIcon from "../icons/LinkedIcon.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro"
---

<Layout
  title="Portfolio de Diego Felix Amachi Flores - Desarrollador y Programador Web"
  description="Desarrollador de software con m치s de un a침o de experiencia en el desarrollo web y dos a침os de experiencia como auxiliar contable. Me especializo en lenguajes de desarrollo web como JavaScript, HTML, CSS, y MySQL, as칤 como en sus distintas bibliotecas y frameworks."
>
  <main class="px-4 w-full flex flex-col" data-section="top">
    <SectionContainer class="h-[calc(100vh-64px)] font-title flex flex-col items-center justify-center mx-auto" id="Sobre-m칤">
      <span class="items-center w-full flex flex-col relative lg:w-[1080px]">
        <h1 class="titlet" >

          <a
            href="#"
            target="_blank"
            rel="noopener" 
            class="title text-center pb-8"
          >
            DIEGO AMACHI F. 
          </a>
        </h1>
        <h2 class=" font-title text-7xl ">
         -Desarrollador <strong class=" text-blue-600">Web</strong>-
        </h2>
        <nav class="flex gap-x-1 mt-8  flex-1 w-full max-w-3xl bg-transparent p-1">
          <SocialPill href="https://www.linkedin.com/in/diego-amachi-flores-b1b724217/">
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/Ares101101">          
            GitHub
          </SocialPill>
          <SocialPill href="mailto:diego.amachiflores@gmail.com">
            Correo  
          </SocialPill>
        </nav> 
      </span>
    </SectionContainer>
    <SectionContainer id="Experiencia" class=" h-screen  flex flex-col justify-center xl:w-[1066px]">
      <article class=" h-full bg-transparent flex flex-col items-start justify-center text-[#BFE4E6]">      
         
          <h2
            class="text-4xl font-title  flex justify-center items-center gap-2 bg-[#222825] pb-3"
          >
            <div class=" p-2 bg-[#3E5155] flex justify-center items-center toplshadow relative leftthadow">
              <ExperiencieIcon class=" min-w-12 w-12 " />
            </div>
            <div class=" w-4 bg-[#3E5155] h-full topshadow relative">

            </div>
              <strong class="bg-[#3E5155] h-full flex px-4 justify-center items-center toprshadow relative righthadow">EXPERIENCIA</strong>
          </h2>
      
          <article class=" bg-[#222825] rightbhadow relative tlshadow flex gap-3">
            
            <Experience  client:visible />
          </article>
      </article>
    </SectionContainer>

    <SectionContainer id="Proyectos" class="h-screen overflow-hidden lg:w-[1080px]">
      <h2
        class="text-6xl font-title w-full mb-8 border-dashed border-b-4"
      >
        <ProyecIcon class="w-12 inline-block mr-4" />
        <span class="align-middle ">
          Proyectos
        </span>
      </h2>
      <Proyects />
    </SectionContainer>
    <SectionContainer class="h-screen overflow-hidden" />
    <SectionContainer class="h-screen overflow-hidden" />
  </main>
</Layout>

{
  /*
  w-full  font-extrabol title 
<h2 class=" sm:text-3xl text-xl	 opacity-80 text-wrap  ">
				<span class=" text-yellow-200/90"> +1 a침o de expericencia </span> como desarrollador de software, 
				<span class=" text-red-300/90">de Lima Per칰 游왫릖.</span> 
				<span class=" opacity-85">
					Especializado en crear aplicaiones 칰nicas
				</span>  
			</h2>
			<nav class="flex gap-x-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/diego-amachi-flores-b1b724217/">
					<LinkedIcon class="size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Ares101101">
					<GitHubIcon class="size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:diego.amachiflores@gmail.com">
					<MailIcon class="size-6"/>
					Diego.amachiflores@gmail.com
				</SocialPill>
			</nav> */
}
