---
import ExperiencieItem from "./ExperiencieItem.astro"


const EXPERIENCIE = [
    {
        title : 'Desarrollador Web - CSI Servicios Integrales',
        date : 'Enero, 2024',
        actual :'Actualmente',
        description : "Me encuentro desarrollando la página web de CSI Servicios Integrales S.A.C., en donde estoy teniendo el privilegio de formar parte de un equipo dinámico y orientado a la excelencia. Mi experiencia se ha centrado en el desarrollo del proyecto web con las especificaciones de la empresa, contribuyendo al éxito continuo de esta",
       
    }, 
    {
        title : 'Desarrollador Web - RVC Servicios Contables',
        date : 'Julio, 2023',
        description : "Encabecé el proceso de desarrollo y despliegue a producción de la página web para la empresa RVC Servicios Contables S.A en donde implementé un diseño moderno y responsive que refleja la profesionalidad y valores de la empresa, garantizando una experiencia intuitiva al usuario.",
        link : 'https://rvc.vercel.app/'
    },
    {   
        title : 'Desarrollo de Software - RVC Servicios Contables',
        date : 'Enero, 2023',
        description :'Lideré el diseño y desarrollo de programas de software destinados a la automatización de procesos administrativos y contables en RVC Servicios Contables S.A. implementando soluciones que optimizaron la eficiencia operativa y redujeron la carga manual en tareas administrativas y contables.',
        link : 'https://github.com/Ares101101/Contab'    
    }
    
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3"> 
    {
        EXPERIENCIE.map( experiencie => (
         <li class="mb-10 ms-6">
            <ExperiencieItem {...experiencie}/>  
         </li>   
        ))
    }                   
</ol>

