---
import ExperiencieItem from "./ExperiencieItem.astro"


const EXPERIENCIE = [
    {
        title : 'Desarrollador Web - CSI Servicios Integrales',
        date : 'Enero, 2024',
        actual :'Actualmente',
        description : "Me encuentro desarrollando la pagina web de CSI Servicios Ingrales S.A.C. utilizando React Vite",
       
    }, 
    {
        title : 'Desarrollador Web - RVC Servicios Contables',
        date : 'Julio, 2023',
        description : "Desarrollo y Producción de página web para la empresa RVC Servicios Contables S.A. empleando: React, Vite y Tailwind CSS, La página web refleja los valores de RVC en ofrecer servicios integrales en contabilidad y abogacía .",
        link : 'https://rvc.vercel.app/'
    },
    {   
        title : 'Desarrollo de Software - RVC Servicios Contables',
        date : 'Enero, 2023',
        description :'Desarrollo e implementación de programas para la automatización de procesos administrativos y contables, siendo uno de estos aplicativos CONTAB una aplicacion la cual genera en excel un formato de ventas o compras para EXPORTAR a la aplicacion contable CONCAR.',
        link : 'https://github.com/Ares101101/Contab'    
    }
    
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3"> 
    {
        EXPERIENCIE.map( experiencie => (
         <li class="mb-10 ms-6">
            <ExperiencieItem {...experiencie}/>  
         </li>   
        ))
    }                   
</ol>

