<header class=" font-title flex justify-center items-center py-5 w-full mx-auto px-4 max-w-[1080px] text-xs">
    <nav class="flex md:gap-x-10 gap-x-4 opacity-80 w-full justify-between nav">
        <a href="#top">INICIO</a>   
        <a href="#Experiencia">EXPERIENCIA</a>
        <a href="#Proyectos">PROYECTOS</a>
        <a href="#Sobre-mí">SOBRE MÍ</a>
        <a href="#contacto">CONTACTO</a>
    </nav>
</header>