<header class=" flex justify-center items-center py-5 w-full mx-auto px-4 max-w-[1080px] sm:text-base text-sm">
    <nav class="flex md:gap-x-10 gap-x-4 opacity-80 w-full justify-between ">
        <a href="#top">Inicio</a>
        <a href="#Experiencia">Experiencia</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#Sobre-mí">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>