<header class="font-title flex justify-center items-center py-2 w-full mx-auto px-3  top-0 absolute z-[1000]  ">
    <ul class="flex flex-wrap max-w-[1080px] opacity-80 w-full justify-between nav bg-black p-1  align-middle gap-1">

        <li class=" md:max-h10 max-h-8  card border-4 border-t-white/50 border-l-white/50 border-b-black/15  border-r-black/15 hover:border-t-black/15 hover:border-l-black/15 hover:border-r-white/50 hover:border-b-white/50 hover:bg-blue-600/85 [&>a]:hover:mt-1 w-full flex items-center bg-blue-600">
            <a href="#top" class=" px-2 h-full w-full flex items-center justify-center truncate">INICIO</a>   
        </li>
        <li class="md:max-h10 max-h-8  card border-4 border-t-white/50 border-l-white/50 border-b-black/15  border-r-black/15 hover:border-t-black/15 hover:border-l-black/15 hover:border-r-white/50 hover:border-b-white/50 hover:bg-blue-600/85 [&>a]:hover:mt-1 w-full  flex items-center bg-blue-600">
            <a href="#Experiencia" class="px-2 h-full w-full flex items-center justify-center truncate">EXPERIENCIA</a>
        </li>
        <li class="md:max-h10 max-h-8  card border-4 border-t-white/50 border-l-white/50 border-b-black/15  border-r-black/15 hover:border-t-black/15 hover:border-l-black/15 hover:border-r-white/50 hover:border-b-white/50 hover:bg-blue-600/85 [&>a]:hover:mt-1 w-full flex items-center bg-blue-600">
            <a href="#Proyectos" class="px-2 h-full w-full flex items-center justify-center truncate">PROYECTOS</a>
        </li>
        <li class="md:max-h10 max-h-8  card border-4 border-t-white/50 border-l-white/50 border-b-black/15  border-r-black/15 hover:border-t-black/15 hover:border-l-black/15 hover:border-r-white/50 hover:border-b-white/50 hover:bg-blue-600/85 [&>a]:hover:mt-1 w-full  flex items-center bg-blue-600">
            <a href="#Sobre-mí" class="px-2 h-full w-full flex items-center justify-center truncate">SOBRE MÍ</a>
        </li>
        <li class="md:max-h10 max-h-8   card border-4 border-t-white/50 border-l-white/50 border-b-black/15  border-r-black/15 hover:border-t-black/15 hover:border-l-black/15 hover:border-r-white/50 hover:border-b-white/50 hover:bg-blue-600/85 [&>a]:hover:mt-2 w-full  flex items-center bg-blue-600">
            <a href="#contacto" class="px-2 h-full w-full flex items-center justify-center truncate">CONTACTO</a>
        </li>
    </ul>
</header>
<style>
    .card{
    flex: 1 0 calc(19% );
    }
    .nav{
    color: #fff;
    font-size: clamp(20px, 4vw, 27px) ;
    }
   
</style>