<header class=" flex md:justify-between justify-center items-center py-5 w-full mx-auto px-4 max-w-[1120px] sm:text-base text-sm">
    <img 
    class=" rounded-full size-12 md:block hidden" 
    src="https://i.postimg.cc/8Cy7xfx6/image.jpg" alt="diego foto"
    >
    <nav class="flex flex-row md:gap-x-10 gap-x-4 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#Sobre-mí">Sobre mí</a>
        <a href="#Experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>