---
import "../styles/stars.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";

interface Props {
  title: string;
  description: string;
}
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/daf.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title> 
  </head>
  <body>
    <Background />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Pixeled;
    src: url("/fonts/pressstart2p.woff2") format("woff2");
  }
  @font-face {
    font-family: minecraftia;
    src: url("/fonts/Minecraftia-Regular.woff2") format("woff2");
  }

  :root {
    color-scheme: light dark;
  }

  html {
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
</style>
