---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/stars.css'
import '@fontsource-variable/pixelify-sans';
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/daf.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<section class="secti overflow-hidden z-[-1]">
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
            <span class="spanstart"></span>
        </section>
		<section class="secti2 z-[-1]">
			<div id="stars"></div>
			<div id="stars2"></div>
			<div id="stars3"></div>
		</section>
		<Header/>
		<slot/> 
		<Footer/>
		
	</body>
</html>
<style is:global>
	@font-face {
		font-family: Pixeled;
		src: url('/fonts/Pixeled.woff2') format('woff2');				
	}
	
	:root {
		color-scheme: light dark;
	}

	html {
		padding: 0;
		margin: 0;
		color: #ffffff;
  	}

	
</style>
